#chat-room-screen {
  background-color: #abc0d0;
  height: 100vh;
}
#chat-room-screen .status-bar {
  z-index: 2;
}
#chat-room-screen .alt-header {
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc0d0;
}
/*
@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
*/
.chat-room {
  display: flex;
  animation: fadeIn 0.3s linear;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.chat-room__timestamp {
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 25px;
}
@keyframes fadeInLeftSide {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.message-row {
  animation: fadeInLeftSide 0.8s linear;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 10px;
}
.message-row__author {
  opacity: 60%;
  font-size: 17px;
  display: block;
  margin-bottom: 8px;
}
.message-row__info {
  display: flex;
  align-items: flex-end;
}
.message-row__bubble {
  background-color: white;
  padding: 12px;
  margin-right: 8px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  font-size: 20px;
}
.message-row__time {
  opacity: 60%;
}
@keyframes fadeInRightSide {
  from {
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.message-row--own {
  opacity: 0;
  animation: fadeInRightSide 0.8s linear forwards;
  animation-delay: 0.8s;
  justify-content: flex-end;
}
.message-row--own .message-row__bubble {
  margin-right: 0;
  margin-left: 8px;
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
}
.message-row--own .message-row__info {
  flex-direction: row-reverse;
}
.reply {
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}
.reply i {
  opacity: 0.5;
  font-size: 25px;
}
.reply__column:first-child {
  width: 8%;
}
.reply__column:last-child {
  width: 92%;
  position: relative;
}
.reply input {
  transition: all 0.3s ease-in-out;
  height: 35px;
  border: none;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}
.reply input::placeholder {
  padding: 0 7px;
  font-size: 17px;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.reply:focus-within input {
  width: 97vw;
  transform: translateX(-10%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 3px;
}
.reply__column:last-child > i {
  right: 45px;
  top: 7px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  border-radius: 30px;
  width: 33px;
  height: 33px;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column button i {
  opacity: 1;
}
