#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}
#friends-display-link i {
  margin: 0 8px;
  opacity: 20%;
}
.friends-screen {
  padding: 0 var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 15px;
  font-size: 15px;
  opacity: 40%;
  display: flex;
  justify-content: space-between;
}
