#friends-display-link {
  text-align: center;
  display: block;
  padding: 15px 0;
  background-color: #fafafa;
  font-size: 18px;
}
#friends-display-link i {
  margin: 0 8px;
  opacity: 20%;
}
.friends-screen {
  padding: 0 var(--horizontal-space);
}
