.badge {
  background-color: tomato;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
}
.dot {
  position: absolute;
  color: tomato;
  background-color: tomato;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 3px;
}
.new {
  background-color: tomato;
  color: white;
  font-size: 12px;
  font-weight: 700;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
