.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 50px;
  box-sizing: border-box;
  background-color: #f9f9fa;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: var(--black);
  position: relative;
}
.nav__notification {
  background-color: tomato;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  position: absolute;
  left: 20px;
  bottom: 15px;
}
.nav__dot {
  color: tomato;
  background-color: tomato;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  position: absolute;
  left: 30px;
}
