.screen-header {
  padding-top: 50px;
  padding-left: var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.screen-header__title {
  font-size: 30px;
  font-weight: 500;
}
.screen-header__icons span {
  margin: 0 15px;
}
